@mixin flexbox {
	display: flex;
}
@mixin flex($fg: 1, $fs: null, $fb: null) {
    
	$fg-boxflex: $fg;
	@if type-of($fg) == 'list' {
		$fg-boxflex: nth($fg, 1);
    }
    
	flex: $fg $fs $fb;
}
@mixin inline-flex {
	display: inline-flex;
}
@mixin flex-direction($value: row) {
	flex-direction: $value;
}
@mixin flex-flow($values: (row nowrap)) {
	flex-flow: $values;
}
@mixin flex-shrink($int: 1) {
	flex-shrink: $int;
}
@mixin flex-basis($value: auto) {
	flex-basis: $value;
}
@mixin justify-content($value: flex-start) {
	justify-content: $value;
}
@mixin align-self($value: auto) {
	align-self: $value;
}
@mixin align-content($value: stretch) {
	align-content: $value;
}